<!-- HEADER -->
<header class="header">
    <!-- SEZIONE LOGO -->
    <div class="header-actions">
        <div class="header-brand">
            <div class="logo">
                <svg class="icon-logo-eog small">
                    <use xlink:href="#svg-logo-eog"></use> 
                </svg>
            </div>
            <h1 class="header-brand-text">Emperor of Gaming</h1>
        </div>
    </div>
    <!-- FINE SEZIONE LOGO -->

    <!-- SEZIONE MENU  -->
    <div class="header-actions">
        <!-- PULSANTE MENU LATERALE -->
        <div class="sidemenu-trigger navigation-widget-trigger">
            <svg class="icon-grid">
                <use xlink:href="#svg-grid"></use>
            </svg>
        </div>
        <!-- FINE PULSANTE MENU LATERALE -->

        <!-- PULSANTE MENU MOBILE -->
        <div class="mobilemenu-trigger navigation-widget-mobile-trigger">
            <div class="burger-icon inverted">
                <div class="burger-icon-bar"></div>
                <div class="burger-icon-bar"></div>
                <div class="burger-icon-bar"></div>
            </div>
        </div>
        <!-- PULSANTE MENU MOBILE -->

        <!-- MENU -->
        <nav class="navigation">
            <ul class="menu-main">
                <li class="menu-main-item">
                    <a class="menu-main-item-link" href="/">Home</a>
                </li>

                <li class="menu-main-item">
                    <a class="menu-main-item-link" href="/chi-siamo">Chi siamo</a>
                </li>

                <li class="menu-main-item">
                    <a class="menu-main-item-link" href="/blog">Il nostro Blog</a>
                </li>

                <!-- DROPDOWN LISTA -->
                <li class="menu-main-item">
                    <!-- ICONA -->
                    <p class="menu-main-item-link">
                        <svg class="icon-dots">
                            <use xlink:href="#svg-dots"></use>
                        </svg>
                    </p>
                    <!-- FINE ICONA -->

                    <!-- LISTA ELEMENTI -->
                    <ul class="menu-main">
                        <li class="menu-main-item">
                            <a class="menu-main-item-link" href="/contattaci">Contattaci</a>
                        </li>

                        <li class="menu-main-item">
                            <a class="menu-main-item-link" href="/privacy-policy">Privacy Policy</a>
                        </li>
                    </ul>
                    <!-- FINE LISTA ELEMENTI -->
                </li>
                <!-- FINE DROPDOWN -->
            </ul>
        </nav>
        <!-- FINE MENU -->
    </div>
    <!-- FINE SEZIONE  -->

    <!-- SEZIONE BARRA RICERCA -->
    <div class="header-actions search-bar">
        <!-- AREA INPUT -->
        <div class="interactive-input dark">
            <input type="text" id="search-main" name="search_main" placeholder="Cerca su Emperor of Gaming">
            <!-- ICONA LENTE -->
            <div class="interactive-input-icon-wrap">
                <svg class="interactive-input-icon icon-magnifying-glass">
                    <use xlink:href="#svg-magnifying-glass"></use>
                </svg>
            </div>
            <!-- FINE ICONA -->

            <!-- ICONA CHIUSURA RISULTATI -->
            <div class="interactive-input-action">
                <svg class="interactive-input-action-icon icon-cross-thin">
                    <use xlink:href="#svg-cross-thin"></use>
                </svg>
            </div>
            <!-- FINE ICONA -->
        </div>
        <!-- FINE AREA INPUT -->

        <!-- DROPDOWN RISULTATI -->
        <div class="dropdown-box padding-bottom-small header-search-dropdown">
            <!-- CATEGORIA UTENTI TROVATI -->
            <div class="dropdown-box-category">
                <p class="dropdown-box-category-title">Utenti</p>
            </div>
            <!-- FINE CATEGORIA -->

            <!-- LISTA UTENTI TROVATI -->
            <div class="dropdown-box-list small no-scroll">
                <!-- UTENTE -->
                <a class="dropdown-box-list-item" href="/quiandràilnome">
                    <div class="user-status notification">
                        <!-- IMMAGINE UTENTE -->
                        <div class="user-status-avatar">
                            <div class="user-avatar small no-outline">
                                <div class="user-avatar-content">
                                    <div class="hexagon-image-30-32" data-src="/img/avatar/01.jpg"></div>
                                </div>

                                <div class="user-avatar-progress-border">
                                    <div class="hexagon-border-40-44"></div>
                                </div>
                            </div>
                        </div>
                        <!-- FINE IMMAGINE -->

                        <p class="user-status-title"><span class="bold">Nome Cognome</span></p>

                        <p class="user-status-text">La info va qui</p>

                        <div class="user-status-icon">
                            <svg class="icon-friend">
                                <use xlink:href="#svg-friend"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                <!-- FINE UTENTE -->
            </div>
            <!-- FINE LISTA -->

            <!-- CATEGORIA GRUPPI TROVATI -->
            <div class="dropdown-box-category">
                <p class="dropdown-box-category-title">Gruppi</p>
            </div>
            <!-- FINE CATEGORIA -->

            <!-- LISTA GRUPPI TROVATI -->
            <div class="dropdown-box-list small no-scroll">
                <!-- GRUPPO -->
                <a class="dropdown-box-list-item" href="/gruppo/nomegruppo">
                    <div class="user-status notification">
                        <!-- IMMAGINE GRUPPO -->
                        <div class="user-status-avatar">
                            <div class="user-avatar small no-border">
                                <div class="user-avatar-content">
                                    <div class="hexagon-image-40-44" data-src="/img/avatar/25.jpg"></div>
                                </div>
                            </div>
                        </div>
                        <!-- FINE IMMAGINE -->

                        <p class="user-status-title"><span class="bold">Gruppo Bello</span></p>

                        <p class="user-status-text">0 membri</p>

                        <div class="user-status-icon">
                            <!-- ICON GROUP -->
                            <svg class="icon-group">
                                <use xlink:href="#svg-group"></use>
                            </svg>
                            <!-- /ICON GROUP -->
                        </div>
                    </div>
                </a>
                <!-- FINE GRUPPO -->
            </div>
            <!-- FINE LISTA -->
        </div>
        <!-- FINE DROPDOWN -->
    </div>
    <!-- FINE SEZIONE -->

    <!-- SEZIONE DESTRA -->
    <div class="header-actions">
        <!-- AMICI, MESSAGGI, NOTIFICHE -->
        <div class="action-list dark">
            <!-- RICHEISTE D'AMICIZIA -->
            <div class="action-list-item-wrap">
                <!-- ICONA -->
                <div class="action-list-item header-dropdown-trigger">
                    <svg class="action-list-item-icon icon-friend">
                        <use xlink:href="#svg-friend"></use>
                    </svg>
                </div>
                <!-- FINE ICONA -->

                <!-- DROPDOWN -->
                <div class="dropdown-box header-dropdown">
                    <!-- TITOLO -->
                    <div class="dropdown-box-header">
                        <p class="dropdown-box-header-title">Richieste di Amicizia</p>

                        <div class="dropdown-box-header-actions">
                            <p class="dropdown-box-header-action">Trova nuovi amici</p>
                            <p class="dropdown-box-header-action">Impostazioni</p>
                        </div>
                    </div>
                    <!-- FINE TITOLO -->

                    <!-- LISTA RICHIESTE -->
                    <div class="dropdown-box-list no-hover" data-simplebar>
                        <!-- RICHIESTA 1 -->
                        <div class="dropdown-box-list-item">
                            <div class="user-status request">
                                <!-- IMMAGINE PROFILO -->
                                <a class="user-status-avatar" href="/u/<%= username %>">
                                    <div class="user-avatar small no-outline">
                                        <!-- FOTO -->
                                        <div class="user-avatar-content">
                                            <div class="hexagon-image-30-32" data-src="/img/avatar/08.jpg"></div>
                                        </div>
                                        <!-- FINE FOTO -->

                                        <!-- BORDO -->
                                        <div class="user-avatar-progress-border">
                                            <div class="hexagon-border-40-44"></div>
                                        </div>
                                        <!-- FINE BORDO -->
                                    </div>
                                </a>
                                <!-- FINE IMMAGINE -->

                                <p class="user-status-title"><a class="bold" href="/u/<%= username %>">Nome Cognome</a></p>
                                <p class="user-status-text">Qui andranno gli amici in comune</p>

                                <!-- PULSANTI -->
                                <div class="action-request-list">
                                    <!-- PULSANTE ACCETTA -->
                                    <div class="action-request accept">
                                        <svg class="action-request-icon icon-add-friend">
                                            <use xlink:href="#svg-add-friend"></use>
                                        </svg>
                                    </div>
                                    <!-- FINE PULSANTE -->

                                    <!-- PULSANTE RIFIUTA -->
                                    <div class="action-request decline">
                                        <svg class="action-request-icon icon-remove-friend">
                                            <use xlink:href="#svg-remove-friend"></use>
                                        </svg>
                                    </div>
                                    <!-- FINE PULSANTE -->
                                </div>
                                <!-- FINE PULSANTI -->
                            </div>
                        </div>
                        <!-- FINE RICHIESTA -->
                    </div>
                    <!-- FINE LISTA -->

                    <a class="dropdown-box-button secondary" href="/profilo/richieste-amicizia">Vedi tutte le richieste</a>
                </div>
                <!-- FINE DROPDOWN -->
            </div>
            <!-- FINE RICHIESTE -->

            <!-- MESSAGGI -->
            <div class="action-list-item-wrap">
                <!-- ICONA -->
                <div class="action-list-item header-dropdown-trigger">
                    <svg class="action-list-item-icon icon-messages">
                        <use xlink:href="#svg-messages"></use>
                    </svg>
                </div>
                <!-- FINE ICONA -->

                <!-- DROPDOWN -->
                <div class="dropdown-box header-dropdown">
                    <!-- TITOLO -->
                    <div class="dropdown-box-header">
                        <p class="dropdown-box-header-title">Messaggi</p>

                        <!-- PULSANTI -->
                        <div class="dropdown-box-header-actions">
                            <p class="dropdown-box-header-action">Segna tutti come letti</p>
                            <p class="dropdown-box-header-action">Impostazioni</p>
                        </div>
                        <!-- FINE PULSANTI -->
                    </div>
                    <!-- FINE TITOLO -->

                    <!-- DROPDOWN -->
                    <div class="dropdown-box-list medium" data-simplebar>
                        <!-- MESSAGGIO 1 -->
                        <a class="dropdown-box-list-item" href="/profilo/messaggi">
                            <div class="user-status">
                                <!-- FOTO UTENTE -->
                                <div class="user-status-avatar">
                                    <div class="user-avatar small no-outline">
                                        <div class="user-avatar-content">
                                            <div class="hexagon-image-30-32" data-src="/img/avatar/08.jpg"></div>
                                        </div>

                                        <!-- BORDO -->
                                        <div class="user-avatar-progress-border">
                                            <div class="hexagon-border-40-44"></div>
                                        </div>
                                        <!-- FINE BORDO -->
                                    </div>
                                </div>
                                <!-- FINE FOTO -->

                                <p class="user-status-title"><span class="bold">Nome Cognome</span></p>

                                <p class="user-status-text">Questo sarà un ultimo messaggio, ma per ora ciao!</p>
                                <p class="user-status-timestamp floaty">2 minuti fa</p>
                            </div>
                        </a>
                        <!-- FINE MESSAGGIO -->
                    </div>
                    <!-- FINE DROPDOWN-->

                    <a class="dropdown-box-button primary" href="/profilo/messaggi">Vedi tutti i messaggi</a>
                </div>
                <!-- FINE DROPDOWN -->
            </div>
            <!-- FINE MESSAGGI -->

            <!-- NOTIFICHE -->
            <div class="action-list-item-wrap">
                <!-- ICONA -->
                <div class="action-list-item unread header-dropdown-trigger">
                    <svg class="action-list-item-icon icon-notification">
                        <use xlink:href="#svg-notification"></use>
                    </svg>
                </div>
                <!-- FINE ICONA -->

                <!-- DROPDOWN -->
                <div class="dropdown-box header-dropdown">
                    <!-- TITOLO -->
                    <div class="dropdown-box-header">
                        <p class="dropdown-box-header-title">Notifiche</p>

                        <!-- PULSANTI -->
                        <div class="dropdown-box-header-actions">
                            <p class="dropdown-box-header-action">Segna tutte come lette</p>
                            <p class="dropdown-box-header-action">Impostazioni</p>
                        </div>
                        <!-- FINE PULSANTI -->
                    </div>
                    <!-- FINE TITOLO -->

                    <!-- DROPDOWN -->
                    <div class="dropdown-box-list" data-simplebar>
                        <!-- NOTIFICA NON VISTA COMMENTO -->
                        <div class="dropdown-box-list-item unread">
                            <div class="user-status notification">
                                <!-- IMMAGINE UTENTE -->
                                <a class="user-status-avatar" href="profile-timeline.html">
                                    <div class="user-avatar small no-outline">
                                        <!-- FOTO -->
                                        <div class="user-avatar-content">
                                            <div class="hexagon-image-30-32" data-src="/img/avatar/08.jpg"></div>
                                        </div>
                                        <!-- FINE FOTO -->

                                        <!-- BORDO -->
                                        <div class="user-avatar-progress-border">
                                            <div class="hexagon-border-40-44"></div>
                                        </div>
                                        <!-- FINE BORDO -->
                                    </div>
                                </a>
                                <!-- FINE IMAMGINE-->


                                <p class="user-status-title"><a class="bold" href="/u/<%= username %>">Nome
                                        Cognome</a> ha commentato al tuo <a class="highlighted"
                                        href="/post/1234567">post</a></p>
                                <p class="user-status-timestamp">1 minuto fa</p>

                                <!-- ICONA TIPO NOTIFICA -->
                                <div class="user-status-icon">
                                    <svg class="icon-comment">
                                        <use xlink:href="#svg-comment"></use>
                                    </svg>
                                </div>
                                <!-- FINE ICONA -->
                            </div>
                        </div>
                        <!-- FINE NOTIFICA -->

                        <!-- NOTIFICA LIKE -->
                        <div class="dropdown-box-list-item">
                            <div class="user-status notification">
                                <!-- IMMAGINE UTENTE -->
                                <a class="user-status-avatar" href="profile-timeline.html">
                                    <div class="user-avatar small no-outline">
                                        <!-- FOTO -->
                                        <div class="user-avatar-content">
                                            <div class="hexagon-image-30-32" data-src="/img/avatar/08.jpg"></div>
                                        </div>
                                        <!-- FINE FOTO -->

                                        <!-- BORDO -->
                                        <div class="user-avatar-progress-border">
                                            <div class="hexagon-border-40-44"></div>
                                        </div>
                                        <!-- FINE BORDO -->
                                    </div>
                                </a>
                                <!-- FINE IMAMGINE-->

                                <p class="user-status-title"><a class="bold" href="/u/<%= username %>">Nome
                                        Cognome</a> ha messo like <img class="reaction" src="/img/reaction/like.png"
                                        alt="reaction-like"> al tuo <a class="highlighted"
                                        href="/post/123456">post</a></p>
                                <p class="user-status-timestamp">1 minuto fa</p>

                                <!-- ICONA NOTIFICA -->
                                <div class="user-status-icon">
                                    <svg class="icon-thumbs-up">
                                        <use xlink:href="#svg-thumbs-up"></use>
                                    </svg>
                                </div>
                                <!-- FINE ICONA -->
                            </div>
                        </div>
                        <!-- FINE NOTIFICA -->
                    </div>
                    <!-- FINE DROPDOWN -->

                    <a class="dropdown-box-button secondary" href="hub-profile-notifications.html">Vedi tutte le notifiche</a>
                </div>
                <!-- FINE DROPDOWN -->
            </div>
            <!-- FINE NOTIFICHE -->
        </div>
        <!-- FINE AMICI, MESSAGGI, NOTIFICHE -->

        <!-- IMPOSTAZIONI -->
        <div class="action-item-wrap">
            <!-- PULSANTE -->
            <div class="action-item dark header-settings-dropdown-trigger">
                <svg class="action-item-icon icon-settings">
                    <use xlink:href="#svg-settings"></use>
                </svg>
            </div>
            <!-- FINE PULSANTE -->

            <!-- DROPDOWN -->
            <div class="dropdown-navigation header-settings-dropdown">
                <!-- HEADER -->
                <div class="dropdown-navigation-header">
                    <div class="user-status">
                        <!-- IMMAGINE UTENTE -->
                        <a class="user-status-avatar" href="/usernameutente">
                            <div class="user-avatar small no-outline">
                                <div class="user-avatar-content">
                                    <div class="hexagon-image-30-32" data-src="/img/avatar/08.jpg"></div>
                                </div>                    
                            </div>
                        </a>
                        <!-- FINE IMMAGINE -->

                        <p class="user-status-title"><span class="bold">Ciao Nome!</span></p>
                        <p class="user-status-text small"><a href="/username">@username</a></p>
                    </div>
                </div>
                <!-- FINE HEADER -->

                <!-- CATEGORIA PROFILO -->
                <p class="dropdown-navigation-category">Il mio Profilo</p>

                <a class="dropdown-navigation-link" href="/profilo/info-profilo">Info Profilo</a>
                <a class="dropdown-navigation-link" href="/profilo/social">Social &amp; Stream</a>
                <a class="dropdown-navigation-link" href="/profilo/notifiche">Notifiche</a>
                <a class="dropdown-navigation-link" href="/profilo/messaggi">Messaggi</a>
                <a class="dropdown-navigation-link" href="/profilo/richieste-amicizia">Richieste d'amicizia</a>

                <!-- CATEGORIA ACCOUNT -->
                <p class="dropdown-navigation-category">Account</p>

                <a class="dropdown-navigation-link" href="/profilo/info-account">Account Info</a>
                <a class="dropdown-navigation-link" href="/profilo/cambia-password">Cambia Password</a>
                <a class="dropdown-navigation-link" href="/profilo/impostazioni">Impostazioni Generali</a>

                <!-- CATEGORIA GRUPPI -->
                <p class="dropdown-navigation-category">Gruppi</p>
                <a class="dropdown-navigation-link" href="/profilo/gruppi">Gestisci Gruppi</a>
                <a class="dropdown-navigation-link" href="/profilo/inviti-gruppi">Inviti</a>


                <form action="/logout" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="dropdown-navigation-button button small secondary">Logout</button>
                </form>
            </div>
            <!-- FINE DROPDOWN -->
        </div>
        <!-- FINE IMPOSTAZIONI -->
    </div>
    <!-- FINE SEZIONE -->
</header>
<!-- FINE HEADER -->