<!-- BARRA LATERALE DESKTOP CHIUSA -->
<nav id="navigation-widget-small" class="navigation-widget navigation-widget-desktop closed sidebar left delayed">
    <!-- IMMAGINE UTENTE -->
    <a class="user-avatar small no-outline online" href="/u/<%= username %>">
        <div class="user-avatar-content">
            <div class="hexagon-image-30-32" data-src="/img/avatar/08.jpg"></div>
        </div>

        <div class="user-avatar-progress-border">
            <div class="hexagon-border-40-44"></div>
        </div>
    </a>
    <!-- FINE UTENTE -->

    <!-- MENU -->
    <ul class="menu small">
        <!-- INIZIO HOME -->
        <li class="menu-item">
            <a class="menu-item-link text-tooltip-tfr" href="/" data-title="Home">
                <svg class="menu-item-link-icon icon-newsfeed">
                    <use xlink:href="#svg-newsfeed"></use>
                </svg>
            </a>
        </li>
        <!-- FINE NEWS/HOME -->

        <!-- INIZIO STATISTICHE -->
        <li class="menu-item">
            <a class="menu-item-link text-tooltip-tfr" href="/statistiche" data-title="Statistiche">
                <svg class="menu-item-link-icon icon-overview">
                    <use xlink:href="#svg-overview"></use>
                </svg>
            </a>
        </li>
        <!-- FINE STATISTICHE -->

        <!-- INIZIO GRUPPI -->
        <li class="menu-item">
            <a class="menu-item-link text-tooltip-tfr" href="/gruppi" data-title="Gruppi">
                <svg class="menu-item-link-icon icon-group">
                    <use xlink:href="#svg-group"></use>
                </svg>
            </a>
        </li>
        <!-- FINE GRUPPI -->

        <!-- INIZIO MEMBRI -->
        <li class="menu-item">
            <a class="menu-item-link text-tooltip-tfr" href="/membri" data-title="Membri">
                <svg class="menu-item-link-icon icon-members">
                    <use xlink:href="#svg-members"></use>
                </svg>
            </a>
        </li>
        <!-- FINE MEMBRI -->

        <!-- INIZIO TORNEI -->
        <li class="menu-item">
            <a class="menu-item-link text-tooltip-tfr" href="/tornei" data-title="Tornei">
                <svg class="menu-item-link-icon icon-quests">
                    <use xlink:href="#svg-quests"></use>
                </svg>
            </a>
        </li>
        <!-- FINE TORNEI -->

        <!-- INIZIO STREAMS -->
        <li class="menu-item">
            <a class="menu-item-link text-tooltip-tfr" href="/streams" data-title="Streams">
                <svg class="menu-item-link-icon icon-streams">
                    <use xlink:href="#svg-streams"></use>
                </svg>
            </a>
        </li>
        <!-- FINE STREAMS -->

        <!-- INIZIO FORUM -->
        <li class="menu-item">
            <a class="menu-item-link text-tooltip-tfr" href="/forum" data-title="Forum">
                <svg class="menu-item-link-icon icon-forums">
                    <use xlink:href="#svg-forums"></use>
                </svg>
            </a>
        </li>
        <!-- FINE FORUM -->
    </ul>
    <!-- FINE MENU -->
</nav>
<!-- FINE BARRA LATERALE DESKTOP CHIUSA -->

<!-- BARRA LATERALE DESKTOP APERTA -->
<nav id="navigation-widget" class="navigation-widget navigation-widget-desktop sidebar left hidden" data-simplebar>
    <!-- BG MENU -->
    <figure class="navigation-widget-cover liquid">
        <img src="/img/cover/01.jpg" alt="cover-01">
    </figure>
    <!-- FINE BG MENU -->

    <!-- DESCRIZIONE UTENTE -->
    <div class="user-short-description">
        <!-- FOTO -->
        <a class="user-short-description-avatar user-avatar medium" href="/u/<%= username %>">
            <div class="user-avatar-border">
                <div class="hexagon-120-132"></div>
            </div>

            <div class="user-avatar-content">
                <div class="hexagon-image-82-90" data-src="/img/avatar/08.jpg"></div>
            </div>

            <div class="user-avatar-progress-border">
                <div class="hexagon-border-100-110"></div>
            </div>
        </a>
        <!-- FINE FOTO -->

        <p class="user-short-description-title"><a href="/u/<%= username %>">Roman Boryslavskyy</a></p>
        <p class="user-short-description-text">Che bella descrizione</p>
    </div>
    <!-- FINE DESCRIZIONE UTENTE -->

    <!-- STATISTICHE UTENTE -->
    <div class="user-stats">
        <!-- NUMERO DI POST -->
        <div class="user-stat">
            <p class="user-stat-title">0</p>
            <p class="user-stat-text">post</p>
        </div>
        <!-- FINE POST -->

        <!-- NUMERO DI AMICI -->
        <div class="user-stat">
            <p class="user-stat-title">0</p>
            <p class="user-stat-text">amici</p>
        </div>
        <!-- FINE AMICI -->

        <!-- NUMERO VISITE PROFILO -->
        <div class="user-stat">
            <p class="user-stat-title">0</p>
            <p class="user-stat-text">visite al profilo</p>
        </div>
        <!-- FINE VISITE -->
    </div>
    <!-- FINE STATISTICHE -->

    <!-- MENU -->
    <ul class="menu">
        <!-- HOME -->
        <li class="menu-item">
            <a class="menu-item-link" href="newsfeed.html">
                <svg class="menu-item-link-icon icon-newsfeed">
                    <use xlink:href="#svg-newsfeed"></use>
                </svg>
                Home
            </a>
        </li>
        <!-- FINE HOME -->

        <!-- STATISTICHE -->
        <li class="menu-item">
            <a class="menu-item-link" href="/statistiche">
                <svg class="menu-item-link-icon icon-overview">
                    <use xlink:href="#svg-overview"></use>
                </svg>
                Statistiche
            </a>
        </li>
        <!-- FINE STATISTICHE -->

        <!-- GRUPPI -->
        <li class="menu-item">
            <a class="menu-item-link" href="/gruppi">
                <svg class="menu-item-link-icon icon-group">
                    <use xlink:href="#svg-group"></use>
                </svg>
                Gruppi
            </a>
        </li>
        <!-- FINE GRUPPI -->

        <!-- MEMBRI -->
        <li class="menu-item">
            <a class="menu-item-link" href="/membri">
                <svg class="menu-item-link-icon icon-members">
                    <use xlink:href="#svg-members"></use>
                </svg>
                Membri
            </a>
        </li>
        <!-- FINE MEMBRI -->


        <!-- TORNEI -->
        <li class="menu-item">
            <a class="menu-item-link" href="/tornei">
                <svg class="menu-item-link-icon icon-quests">
                    <use xlink:href="#svg-quests"></use>
                </svg>
                Tornei
            </a>
        </li>
        <!-- FINE TORNEI -->

        <!-- STREAMS -->
        <li class="menu-item">
            <a class="menu-item-link" href="/streams">
                <svg class="menu-item-link-icon icon-streams">
                    <use xlink:href="#svg-streams"></use>
                </svg>
                Streams
            </a>
        </li>
        <!-- FINE STREAMS -->

        <!-- FORUM -->
        <li class="menu-item">
            <a class="menu-item-link" href="/forum">
                <svg class="menu-item-link-icon icon-forums">
                    <use xlink:href="#svg-forums"></use>
                </svg>
                Forum
            </a>
        </li>
        <!-- FINE FORUM -->
    </ul>
    <!-- FINE MENU -->

    <!-- Override del placeholder per fixare il bug del size eccessivo -->
    <style>
        .simplebar-placeholder{
            width: 0px !important; 
            height: 0px !important;
        }
    </style>
</nav>
<!-- FINE BARRA LATERALE DESKTOP APERTA -->


<!-- BARRA LATERALE MOBILE -->
<nav id="navigation-widget-mobile" class="navigation-widget navigation-widget-mobile sidebar left hidden"
    data-simplebar>
    <!-- PULSANTE CHIUSURA -->
    <div class="navigation-widget-close-button">
        <svg class="navigation-widget-close-button-icon icon-back-arrow">
            <use xlink:href="#svg-back-arrow"></use>
        </svg>
    </div>
    <!-- FINE PULSANTE CHIUSURA -->

    <!-- INFO UTENTE -->
    <div class="navigation-widget-info-wrap">
        <!-- NAVIGATION WIDGET INFO -->
        <div class="navigation-widget-info">
            <!-- FOTO UTENTE -->
            <a class="user-avatar small no-outline" href="/u/<%= username %>">
                <!-- FOTO -->
                <div class="user-avatar-content">
                    <div class="hexagon-image-30-32" data-src="/img/avatar/08.jpg"></div>
                </div>
                <!-- FINE FOTO -->

                <!-- BORDO -->
                <div class="user-avatar-progress-border">
                    <div class="hexagon-border-40-44"></div>
                </div>
                <!-- FINE BORDO -->
            </a>
            <!-- FINE FOTO -->

            <p class="navigation-widget-info-title"><a href="/u/<%= username %>">Nome Cognome</a></p>
            <p class="navigation-widget-info-text">Bentoranto!</p>
        </div>
        <!-- FINE INFO -->

        <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="navigation-widget-info-button button small secondary">Logout</button>
        </form>
    </div>
    <!-- FINE INFO -->

    <p class="navigation-widget-section-title">Menu</p>

    <!-- MENU -->
    <ul class="menu">
        <!-- FEED -->
        <li class="menu-item">
            <a class="menu-item-link" href="/">
                <svg class="menu-item-link-icon icon-newsfeed">
                    <use xlink:href="#svg-newsfeed"></use>
                </svg>

                Feed
            </a>
        </li>
        <!-- FINE FEED -->

        <!-- STATISTICHE -->
        <li class="menu-item">
            <a class="menu-item-link" href="/statistiche">
                <svg class="menu-item-link-icon icon-overview">
                    <use xlink:href="#svg-overview"></use>
                </svg>
                Statistiche
            </a>
        </li>
        <!-- FINE STATISTICHE -->

        <!-- GRUPPI -->
        <li class="menu-item">
            <a class="menu-item-link" href="/gruppi">
                <svg class="menu-item-link-icon icon-group">
                    <use xlink:href="#svg-group"></use>
                </svg>

                Gruppi
            </a>
        </li>
        <!-- FINE GRUPPI -->

        <!-- MEMBRI -->
        <li class="menu-item">
            <a class="menu-item-link" href="/membri">
                <svg class="menu-item-link-icon icon-members">
                    <use xlink:href="#svg-members"></use>
                </svg>
                Membri
            </a>
        </li>
        <!-- FINE MEMBRI -->

        <!-- TORNEI -->
        <li class="menu-item">
            <a class="menu-item-link" href="/tornei">
                <svg class="menu-item-link-icon icon-quests">
                    <use xlink:href="#svg-quests"></use>
                </svg>

                Tornei
            </a>
        </li>
        <!-- FINE TORNEI -->

        <!-- STREAMS -->
        <li class="menu-item">
            <a class="menu-item-link" href="/streams">
                <svg class="menu-item-link-icon icon-streams">
                    <use xlink:href="#svg-streams"></use>
                </svg>
                Streams
            </a>
        </li>
        <!-- FINE STREAMS -->

        <!-- FORUM -->
        <li class="menu-item">
            <a class="menu-item-link" href="/forum">
                <svg class="menu-item-link-icon icon-forums">
                    <use xlink:href="#svg-forums"></use>
                </svg>
                Forum
            </a>
        </li>
        <!-- FINE FORUM -->
    </ul>
    <!-- FINE MENU -->

    <!-- SEZIONE MENU -->
    <p class="navigation-widget-section-title">Menu Principale</p>

    <a class="navigation-widget-section-link" href="/">Home</a>
    <a class="navigation-widget-section-link" href="/chi-siamo">Chi siamo</a>
    <a class="navigation-widget-section-link" href="/blog">Il nostro Blog</a>
    <a class="navigation-widget-section-link" href="/contattaci">Contattaci</a>
    <a class="navigation-widget-section-link" href="/privacy-policy">Privacy Policy</a>


    <!-- SEZIONE PROFILO -->
    <p class="navigation-widget-section-title">Il mio Profilo</p>

    <a class="navigation-widget-section-link" href="/profilo/info-profilo">Informazioni Profilo</a>
    <a class="navigation-widget-section-link" href="/profilo/social">Social &amp; Stream</a>
    <a class="navigation-widget-section-link" href="/profilo/notifiche">Notifiche</a>
    <a class="navigation-widget-section-link" href="/profilo/notifiche">Messaggi</a>
    <a class="navigation-widget-section-link" href="/profilo/richieste-amicizia">Richieste di Amicizia</a>


    <!-- SEZIONE ACCOUNT -->
    <p class="navigation-widget-section-title">Account</p>

    <a class="navigation-widget-section-link" href="/profilo/info-account">Informazioni Account</a>
    <a class="navigation-widget-section-link" href="/profilo/cambia-password">Cambia Password</a>
    <a class="navigation-widget-section-link" href="/profilo/impostazioni-account">Impostazioni Account</a>

    
    <!-- SEZIONE GRUPPI -->
    <p class="navigation-widget-section-title">Gruppi</p>

    <a class="navigation-widget-section-link" href="/profilo/gruppi">Gestisci Gruppi</a>
    <a class="navigation-widget-section-link" href="/profilo/inviti-gruppi">Inviti</a>
</nav>
<!-- FINE BARRA LATERALE MOBILE -->