<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/vendor/simplebar.css">
<link rel="stylesheet" href="css/vendor/tiny-slider.css">
</head>

<body>
    <%- include('../includes/page-loader.ejs') %>
    <%- include('../includes/lateral-nav-bar.ejs') %>

    <%- include('../includes/lateral-chat.ejs') %>
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/floaty-bar.ejs'); %>

    <!-- BODY -->
    <div class="content-grid full">
        <article class="post-open">
            <!-- FOTO SFONDO -->
            <figure class="post-open-cover liquid">
                <img src="/img/cover/38.jpg" alt="borysproductions">
            </figure>
            <!-- FINE FOTO -->

            <!-- CONTENUTO POST -->
            <div class="post-open-body">
                <!-- TITOLO -->
                <div class="post-open-heading">
                    <h2 class="post-open-title">Chi Siamo</h2>
                </div>

                <!-- BODY -->
                <div class="post-open-content">
                    <div class="post-open-content-body" style="text-align: justify; margin: auto;">
                        <p class="post-open-paragraph">
                        </p>

                        <p class="post-open-paragraph">La BorysProductions è una Software House sviluppatrice
                            di videogiochi per dispositivi Mobile e Personal Computer.</p>

                        <!-- BORYS LOGO -->
                        <figure class="post-open-image liquid" style="width: 15rem; height: 6rem; margin: auto;">
                            <img src="/img/BorysLogo.png" alt="cover-06">
                        </figure>
                        <!-- FINE FOTO -->
                        <p class="post-open-image-caption">Attuale logo della BorysProductions</p>

                        <br><br>
                        <p class="post-open-paragraph">Uno dei giochi sviluppati per dispositivi mobile
                            è Spittle: A Llama Adventure, un Arcade Shooter 3D che racconta la storia
                        di un povero Lama a cui viene rubato il sacchetto di grano.</p>
                        <!-- FOTO SPITTLE -->
                        <figure class="post-open-image liquid" style="margin: auto;">
                            <img src="/img/about-us/Spittle1.jpeg" alt="Spittle">
                        </figure>
                        <!-- FINE FOTO -->
                        <p class="post-open-image-caption">Spittle: A Llama Adventure</p>

                        <br><br>
                        <p class="post-open-paragraph">SkaterHills è un racing hyper-casual sviluppato
                            per dispositivi mobile, ed è il primo vero e proprio gioco mobile completo
                            realizzato dalla BorysProductions.</p>
                        <!-- FOTO SKATER HILLS -->
                        <figure class="post-open-image liquid" style="width: 20rem; height: 550px; margin: auto;">
                            <img src="/img/about-us/SkaterHills2.jpeg" alt="SkaterHills">
                        </figure>
                        <!-- FINE FOTO -->
                        <p class="post-open-image-caption">SkaterHills</p>

                        <p class="post-open-paragraph">Inoltre sono in corso di ideazione e sviluppo due giochi
                            per Personal Computer con l'utilizzo dell'engine Unreal Engine 4, con un futuro upgrade
                            all'Unreal Engine 5.</p>
                    </div>
                </div>
                <!-- FINE BODY -->
            </div>
            <!-- FINE CONTENUTO -->
        </article>
    </div>
    <!-- FINE BODY -->

    <div class="content-grid small"></div>

    <%- include('../includes/end.ejs') %>