    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="css/vendor/simplebar.css">
    <link rel="stylesheet" href="css/vendor/tiny-slider.css">
    </head>

    <body>
      <%- include('../includes/page-loader.ejs') %>
      <%- include('../includes/lateral-nav-bar.ejs') %>

      <%- include('../includes/lateral-chat.ejs') %>
      <%- include('../includes/header.ejs') %>
      <%- include('../includes/floaty-bar.ejs'); %>

      <!-- BODY -->
      <div class="content-grid full">
        <article class="post-open">
          <!-- FOTO SFONDO -->
          <figure class="post-open-cover liquid">
            <img src="/img/cover/privacy.jpg" alt="cover-19">
          </figure>
          <!-- FINE FOTO -->

          <!-- CONTENUTO POST -->
          <div class="post-open-body">
            <!-- TITOLO -->
            <div class="post-open-heading">
              <h2 class="post-open-title">Privacy Policy di EmperorOfGaming.it</h2>
            </div>

            <!-- BODY -->
            <div class="post-open-content">
              <div class="post-open-content-body" style="text-align: justify;">
                <p class="post-open-paragraph">
                </p>

                <p class="post-open-paragraph">Questa Applicazione raccoglie alcuni Dati Personali dei propri Utenti.
                  Questo documento puo' essere stampato utilizzando il comando di stampa presente nelle
                  impostazioni di qualsiasi browser.</p><br>

                <!-- TITOLARE TRATTAMENTO -->
                <p class="post-open-paragraph" style="font-size: 18px; font-weight: 800;">
                  Titolare del Trattamento dei Dati</p>

                <p class="post-open-paragraph">
                  BorysProductions Srl - Via Principessa Margherita, 25, 80074 Casamicciola Terme (Italia)
                  <strong>Indirizzo email del Titolare:</strong> borysproductions@gmail.com</p><br><br>

                <!-- TIPOLOGIA DATI RACCOLTI -->
                <p class="post-open-paragraph" style="font-size: 18px; font-weight: 800;">
                  Tipologie di Dati raccolti</p>

                <p class="post-open-paragraph">Fra i Dati Personali raccolti da questa Applicazione, in modo autonomo o
                  tramite terze
                  parti, ci sono: Cookie; Dati di utilizzo; email; nome; cognome; username; password. </p>
                <p class="post-open-paragraph">Dettagli completi su ciascuna tipologia di dati raccolti sono forniti
                  nelle sezioni dedicate
                  di questa privacy policy o mediante specifici testi informativi visualizzati prima della
                  raccolta dei dati stessi.<br> I Dati Personali possono essere liberamente forniti
                  dall'Utente o, nel caso di Dati di Utilizzo, raccolti automaticamente durante l'uso di
                  questa Applicazione.<br> Se non diversamente specificato, tutti i Dati richiesti da questa
                  Applicazione sono obbligatori. Se l'Utente rifiuta di comunicarli, potrebbe essere
                  impossibile per questa Applicazione fornire il Servizio. Nei casi in cui questa Applicazione
                  indichi alcuni Dati come facoltativi, gli Utenti sono liberi di astenersi dal comunicare
                  tali Dati, senza che cio' abbia alcuna conseguenza sulla disponibilita' del Servizio o sulla
                  sua operativita'.<br> Gli Utenti che dovessero avere dubbi su quali Dati siano obbligatori,
                  sono incoraggiati a contattare il Titolare.<br> L'eventuale utilizzo di Cookie - o di altri
                  strumenti di tracciamento - da parte di questa Applicazione o dei titolari dei servizi terzi
                  utilizzati da questa Applicazione, ove non diversamente precisato, ha la finalita' di fornire
                  il Servizio richiesto dall'Utente, oltre alle ulteriori finalita' descritte nel presente
                  documento e nella Cookie Policy, se disponibile.</p>
                <p class="post-open-paragraph">L'Utente si assume la responsabilita' dei Dati Personali di terzi
                  ottenuti, pubblicati o
                  condivisi mediante questa Applicazione e garantisce di avere il diritto di comunicarli o
                  diffonderli, liberando il Titolare da qualsiasi responsabilita' verso terzi.</p>
                <br>

                <!-- MODALITA' E LUOGO DEL TRATTAMENTO DEI DATI -->
                <p class="post-open-paragraph" style="font-size: 18px; font-weight: 800;">Modalita' e luogo del
                  trattamento dei Dati raccolti</p>
                <p class="post-open-paragraph" style="font-size: 16px; font-weight: 700;">Modalita' di trattamento</p>
                <p class="post-open-paragraph">Il Titolare adotta le opportune misure di sicurezza volte ad impedire
                  l'accesso, la
                  divulgazione, la modifica o la distruzione non autorizzate dei Dati Personali. <br> Il
                  trattamento viene effettuato mediante strumenti informatici e/o telematici, con modalita'
                  organizzative e con logiche strettamente correlate alle finalita' indicate. Oltre al
                  Titolare, in alcuni casi, potrebbero avere accesso ai Dati altri soggetti coinvolti
                  nell'organizzazione di questa Applicazione (personale amministrativo, commerciale,
                  marketing, legali, amministratori di sistema) ovvero soggetti esterni (come fornitori di
                  servizi tecnici terzi, corrieri postali, hosting provider, societa' informatiche, agenzie di
                  comunicazione) nominati anche, se necessario, Responsabili del Trattamento da parte del
                  Titolare. L'elenco aggiornato dei Responsabili potra' sempre essere richiesto al Titolare del
                  Trattamento.</p><br><br>

                <p class="post-open-paragraph" style="font-size: 18px; font-weight: 700;">Base giuridica del trattamento
                </p>
                <p class="post-open-paragraph">Il Titolare tratta Dati Personali relativi all'Utente in caso sussista
                  una delle seguenti
                  condizioni:</p>

                <p class="post-open-paragraph">- l'Utente ha prestato il consenso per una o piu' finalita' specifiche;
                  Nota: in alcuni
                  ordinamenti il Titolare puo' essere autorizzato a trattare Dati Personali senza che debba
                  sussistere il consenso dell'Utente o un'altra delle basi giuridiche specificate di
                  seguito, fino a quando l'Utente non si opponga (“opt-out”) a tale trattamento. Cio' non e'
                  tuttavia applicabile qualora il trattamento di Dati Personali sia regolato dalla
                  legislazione europea in materia di protezione dei Dati Personali;
                </p>
                <p class="post-open-paragraph">- il trattamento e' necessario all'esecuzione di un contratto con
                  l'Utente e/o
                  all'esecuzione di misure precontrattuali;
                </p>
                <p class="post-open-paragraph">- il trattamento e' necessario per adempiere un obbligo legale al quale
                  e' soggetto il
                  Titolare;
                </p>
                <p class="post-open-paragraph">- il trattamento e' necessario per l'esecuzione di un compito di
                  interesse pubblico o per
                  l'esercizio di pubblici poteri di cui e' investito il Titolare;
                </p>
                <p class="post-open-paragraph">- il trattamento e' necessario per il perseguimento del legittimo
                  interesse del Titolare o
                  di terzi.
                </p>

                <p class="post-open-paragraph">e' comunque sempre possibile richiedere al Titolare di chiarire la
                  concreta base giuridica di
                  ciascun trattamento ed in particolare di specificare se il trattamento sia basato sulla
                  legge, previsto da un contratto o necessario per concludere un contratto.</p>

                <p class="post-open-paragraph" style="font-size: 18px; font-weight: 700;">Luogo</p>
                <p class="post-open-paragraph">I Dati sono trattati presso le sedi operative del Titolare ed in ogni
                  altro luogo in cui le
                  parti coinvolte nel trattamento siano localizzate. Per ulteriori informazioni, contatta il
                  Titolare.<br> I Dati Personali dell'Utente potrebbero essere trasferiti in un paese diverso
                  da quello in cui l'Utente si trova. Per ottenere ulteriori informazioni sul luogo del
                  trattamento l'Utente puo' fare riferimento alla sezione relativa ai dettagli sul trattamento
                  dei Dati Personali.</p>
                <p class="post-open-paragraph">L'Utente ha diritto a ottenere informazioni in merito alla base giuridica
                  del trasferimento
                  di Dati al di fuori dell'Unione Europea o ad un'organizzazione internazionale di diritto
                  internazionale pubblico o costituita da due o piu' paesi, come ad esempio l'ONU, nonche' in
                  merito alle misure di sicurezza adottate dal Titolare per proteggere i Dati.<br><br>
                  L'Utente puo' verificare se abbia luogo uno dei trasferimenti appena descritti esaminando la
                  sezione di questo documento relativa ai dettagli sul trattamento di Dati Personali o
                  chiedere informazioni al Titolare contattandolo agli estremi riportati in apertura.</p><br><br>

                <!-- PERIODO DI CONVERSAZIONE -->
                <p class="post-open-paragraph" style="font-size: 18px; font-weight: 700;">Periodo di conservazione</p>
                <p class="post-open-paragraph">I Dati sono trattati e conservati per il tempo richiesto dalle finalita'
                  per le quali sono
                  stati raccolti. <br>Pertanto:</p>

                <p class="post-open-paragraph">- I Dati Personali raccolti per scopi collegati all'esecuzione di un
                  contratto tra il
                  Titolare e l'Utente saranno trattenuti sino a quando sia completata l'esecuzione di tale
                  contratto.</p>
                <p class="post-open-paragraph">- I Dati Personali raccolti per finalita' riconducibili all'interesse
                  legittimo del
                  Titolare saranno trattenuti sino al soddisfacimento di tale interesse. L'Utente puo'
                  ottenere ulteriori informazioni in merito all'interesse legittimo perseguito dal
                  Titolare nelle relative sezioni di questo documento o contattando il Titolare.</p>

                <p class="post-open-paragraph">Quando il trattamento e' basato sul consenso dell'Utente, il Titolare
                  puo' conservare i Dati
                  Personali piu' a lungo sino a quando detto consenso non venga revocato. Inoltre, il Titolare
                  potrebbe essere obbligato a conservare i Dati Personali per un periodo piu' lungo in
                  ottemperanza ad un obbligo di legge o per ordine di un'autorita'.<br><br> Al termine del
                  periodo di conservazione i Dati Personali saranno cancellati. Pertanto, allo spirare di tale
                  termine il diritto di accesso, cancellazione, rettificazione ed il diritto alla portabilita'
                  dei Dati non potranno piu' essere esercitati.</p>


                <!-- FINALITA' DEL TRATTAMENTO DEI DATI RACCOLTI -->
                <p class="post-open-paragraph" style="font-size: 18px; font-weight: 700;">Finalita' del Trattamento dei
                  Dati raccolti</p>
                <p class="post-open-paragraph">I Dati dell'Utente sono raccolti per consentire al Titolare di fornire il
                  Servizio,
                  adempiere agli obblighi di legge, rispondere a richieste o azioni esecutive, tutelare i
                  propri diritti ed interessi (o quelli di Utenti o di terze parti), individuare eventuali
                  attivita' dolose o fraudolente, nonche' per le seguenti finalita': Statistica, Interazione con
                  social network e piattaforme esterne, Contattare l'Utente, Accesso agli account su servizi
                  terzi, Pubblicita', Geolocalizzazione, Monitoraggio dell'infrastruttura, Visualizzazione di
                  contenuti da piattaforme esterne, Registrazione ed autenticazione, Commento dei contenuti,
                  Remarketing e behavioral targeting, Gestione dei database di Utenti e Gestione dei tag.</p>
                <p class="post-open-paragraph">Per ottenere informazioni dettagliate sulle finalita' del trattamento e
                  sui Dati Personali
                  trattati per ciascuna finalita', l'Utente puo' fare riferimento alla sezione “Dettagli sul
                  trattamento dei Dati Personali”.</p><br>

                <!-- GESTIONE DEI DATABASE DI UTENTI -->
                <p class="post-open-paragraph" style="font-size: 18px; font-weight: 700;">Gestione dei database di
                  Utenti</p>
                <p class="post-open-paragraph">Questo tipo di servizi permettono al Titolare di costruire profili utente
                  partendo da un
                  indirizzo email, il nome o qualunque altra informazione che l'Utente fornisce a questa
                  Applicazione, cosi' come di tracciare le attivita' dell'Utente tramite funzionalita'
                  statistiche. Questi Dati Personali potrebbero inoltre venire incrociati con informazioni
                  sull'Utente disponibili pubblicamente (come i profili sui social network) ed usati per
                  costruire profili privati che il Titolare puo' visualizzare ed utilizzare per migliorare
                  questa Applicazione.<br> Alcuni di questi servizi potrebbero inoltre permettere l'invio
                  programmato di messaggi all'Utente, come email basate su azioni specifiche compiute su
                  questa Applicazione.</p>


                <!-- MONITORAGGIO DELL'INFRASTRUTTURA -->
                <p class="post-open-paragraph" style="font-size: 18px; font-weight: 700;">Monitoraggio
                  dell'infrastruttura</p>
                <p class="post-open-paragraph">Questo tipo di servizi permette a questa Applicazione di monitorare
                  l'utilizzo ed il
                  comportamento di componenti della stessa, per consentirne il miglioramento delle prestazioni
                  e delle funzionalita', la manutenzione o la risoluzione di problemi.<br> I Dati Personali
                  trattati dipendono dalle caratteristiche e della modalita' d'implementazione di questi
                  servizi, che per loro natura filtrano l'attivita' di questa Applicazione.</p>


                <!-- REGISTRAZIONE ED AUTENTICAZIONE -->
                <p class="post-open-paragraph" style="font-size: 18px; font-weight: 700;">Registrazione ed
                  autenticazione</p>
                <p class="post-open-paragraph">Con la registrazione o l'autenticazione l'Utente consente
                  all'Applicazione di indentificarlo
                  e di dargli accesso a servizi dedicati.<br> A seconda di quanto indicato di seguito, i
                  servizi di registrazione e di autenticazione potrebbero essere forniti con l'ausilio di
                  terze parti. Qualora questo avvenga, questa applicazione potra' accedere ad alcuni Dati
                  conservati dal servizio terzo usato per la registrazione o l'identificazione.</p><br><br>

                <p class="post-open-paragraph" style="font-size: 18px; font-weight: 700;">Unione Europea (o UE)</p>
                <p class="post-open-paragraph">Salvo ove diversamente specificato, ogni riferimento all'Unione Europea
                  contenuto in questo
                  documento si intende esteso a tutti gli attuali stati membri dell'Unione Europea e dello
                  Spazio Economico Europeo.</p>

                <!-- RIFERIMENTI LEGALI -->
                <p class="post-open-paragraph" style="font-size: 18px; font-weight: 700;">Riferimenti legali</p>
                <p class="post-open-paragraph">La presente informativa privacy e' redatta sulla base di molteplici
                  ordinamenti legislativi,
                  inclusi gli art. 13 e 14 del Regolamento (UE) 2016/679.
                  Ove non diversamente specificato, questa informativa privacy riguarda esclusivamente questa
                  Applicazione.
                  <p class="post-open-paragraph"> Ultima modifica: 04 maggio 2021 </p>
              </div>
            </div>
            <!-- FINE BODY -->
          </div>
          <!-- FINE CONTENUTO -->
        </article>
      </div>
      <!-- FINE BODY -->

      <div class="content-grid small"></div>

      <%- include('../includes/end.ejs') %>