    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="css/vendor/simplebar.css">
</head>

<body>
    <%- include('../includes/page-loader.ejs') %>
    <%- include('../includes/lateral-nav-bar.ejs') %>
  
    <%- include('../includes/lateral-chat.ejs') %>
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/floaty-bar.ejs'); %>

    <!-- BODY -->
    <div class="content-grid">
        <%- include('../includes/hub/banner.ejs') %>

        <!-- CONTENUTO -->
        <div class="grid grid-3-9 medium-space">
            <%- include('../includes/hub/sidebar.ejs') %>

            <!-- AREA CAMBIO PASSWORD -->
            <div class="account-hub-content">
                <!-- TITOLO -->
                <div class="section-header">
                    <div class="section-header-info">
                        <p class="section-pretitle">Account</p>
                        <h2 class="section-title">Cambia Password</h2>
                    </div>
                </div>
                <!-- FINE TITOLO -->

                <!-- FORM -->
                <div class="grid-column">
                    <div class="widget-box">
                        <div class="widget-box-content">
                            <% if(error) { %>
                                <p style="color: red; padding-bottom: 0.5rem;"><%= error %></p>
                            <% } %>
                            <form class="form" action="/profilo/cambia-password" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <!-- RIGA PASSWORD ATTUALE -->
                                <div class="form-row">
                                    <div class="form-item">
                                        <div class="form-input small">
                                            <label for="currentPassword">Password Attuale</label>
                                            <input type="password" id="currentPassword" name="currentPassword">
                                        </div>
                                    </div>
                                </div>
                                <!-- FINE RIGA -->

                                <!-- RIGA NUOVA PASSWORD E CONFERMA -->
                                <div class="form-row split">
                                    <!-- NUOVA PASSWORD -->
                                    <div class="form-item">
                                        <div class="form-input small">
                                            <label for="newPassword">Nuova Password</label>
                                            <input type="password" id="newPassword" name="newPassword">
                                        </div>
                                    </div>

                                    <!-- CONFERMA PASSWORD -->
                                    <div class="form-item">
                                        <div class="form-input small">
                                            <label for="confirmNewPassword">Conferma nuova Password</label>
                                            <input type="password" id="confirmNewPassword" name="confirmNewPassword">
                                        </div>
                                    </div>
                                </div>
                                <!-- FINE RIGA -->

                                <div class="form-row split">
                                    <div class="form-item">
                                        <button class="button full primary" type="submit">Cambia la Password!</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- FINE FORM -->
            </div>
            <!-- FINE AREA -->
        </div>
        <!-- FINE CONTENUTO -->
    </div>
    <!-- FINE BODY -->

  <%- include('../includes/end.ejs') %>