<%- include('../includes/head.ejs') %>
</head>

<body>

    <div class="error-section">
        <p class="error-section-title">Recupero<br>Password</p>

        <div class="error-section-info">
            <p class="error-section-subtitle">Recupera la tua Password</p>

            <p class="error-section-text">Ti verrà inviata una mail per effettuare il reset.</p>

            <% if (errorMessage) { %>
            <p class="landing-info-pretitle" style="text-align: center;color: red;padding-bottom: 1rem;">
                <%= errorMessage %>
            </p>
            <% } %>
            <form action="/nuova-password" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <input type="hidden" name="userEmail" value="<%= userEmail %>">
                <!-- PASSWORD -->
                <div class="form-row">
                    <div class="form-item">
                        <div class="form-input">
                            <label for="newPassword">Password</label>
                            <input type="password" id="newPassword" name="newPassword"
                                value="<%= oldInput.newPassword %>" required>
                        </div>
                    </div>
                </div>

                <!-- CONFERMA PASSWORD -->
                <div class="form-row">
                    <div class="form-item">
                        <div class="form-input">
                            <label for="confirmNewPassword">Conferma Password</label>
                            <input type="password" id="confirmNewPassword" name="confirmNewPassword"
                                value="<%= oldInput.confirmNewPassword %>" required>
                        </div>
                    </div>
                </div>

                <!-- PULSANTE -->
                <div class="form-row">
                    <div class="form-item">
                        <button class="button medium primary" type="submit">Conferma!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

<%- include('../includes/end.ejs') %>